<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="UltimatePOS">
    <meta name="keywords" content="UltimatePOS, POS">
    <meta name="author" content="TJC Juan Bohorquez">
    <title>Modulo de pago</title>
</head>
<body>
 <div class="block mx-auto my p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow-lg text-gray-800">
    <h1 class="text-3xl font-bold text-center">Registrar pago</h1>
    <form action="" method="POST" class="mt-4">
        
    </form>
 </div>
</body>
</html>
